@model UserListingsViewModel

@{
    ViewData["Title"] = "All Users";
}

<h1 class="text-center" style="padding:30px">@ViewData["Title"]</h1>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                E-mail
            </th>
            <th>
                Current roles
            </th>
            <th>
                Add role
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userWithRoles in Model.UsersWithRoles)
        {
            <tr>
                <td>
                    @userWithRoles.User.Username
                </td>
                <td>
                    @userWithRoles.User.Email
                </td>
                <td>
                    @if (userWithRoles.Roles.Any())
                    {
                        <form asp-action="RemoveFromRole" method="post">
                            <div class="row">
                                <div class="col-md-7">
                                    <input type="hidden" name="UserId" value="@userWithRoles.User.Id" />
                                    <input type="hidden" name="Username" value="@userWithRoles.User.Username" />
                                    @Html.DropDownList("Role",
                                                   userWithRoles.Roles,
                                                   "--Select--",
                                                   new { @class = "form-control" })
                                </div>
                                <div class="col-md-4">
                                    <input class="btn btn-sm btn-danger" type="submit" value="Remove From Role" />
                                </div>
                            </div>
                        </form>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <p>This user is not in any role.</p>
                            </div>
                        </div>
                    }
                </td>
                <td>
                    @if (userWithRoles.RolesNotIn.Any())
                    {
                        <form asp-action="AddToRole" method="post">
                            <div class="row">
                                <div class="col-md-8">
                                    <input type="hidden" name="UserId" value="@userWithRoles.User.Id" />
                                    @Html.DropDownList("Role",
                                                   userWithRoles.RolesNotIn,
                                                   "--Select--",
                                                   new { @class = "form-control" })
                                </div>
                                <div class="col-md-4">
                                    <input class="btn btn-sm btn-primary" type="submit" value="Add To Role" />
                                </div>
                            </div>
                        </form>

                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <p>This user is in all roles.</p>
                            </div>
                        </div>

                    }

                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.TotalUsers > Model.UsersWithRoles.Count())
{
    <ul class="pagination">
        <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : string.Empty)">
            <a class="page-link" asp-route-page="@Model.PreviousPage"
               aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            @if (Model.CurrentPage == i)
            {
                <li class="page-item active">
                    <a class="page-link" asp-route-page="@i">@i</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-route-page="@i">@i</a>
                </li>
            }
        }

        <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : string.Empty)">
            <a class="page-link" asp-route-page="@Model.NextPage"
               aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
}