@model SubtitlesListingViewModel

@{
    ViewData["Title"] = "Subtitles";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-6">
        <ul class="list-group">
            @foreach (var subtitles in Model.Subtitles)
            {
                <li class="list-group-item">
                    <a asp-action="Details" asp-route-id="@subtitles.Id" asp-route-title="@subtitles.Title.ToFriendlyUrl()">@subtitles.Title</a>
                    <br />
                    <small>published by @subtitles.Author on @subtitles.PublishDate.ToShortDateString()</small>
                    <br />
                    <a asp-action="DownloadSubs" asp-route-id="@subtitles.Id" class="btn btn-primary">Download</a>
                </li>
            }
        </ul>
    </div>
</div>

@if (Model.TotalSubtitles > Model.Subtitles.Count())
{
    <ul class="pagination">
        <li class="@(Model.CurrentPage == 1 ? "disabled" : string.Empty)">
            <a asp-route-page="@Model.PreviousPage"
               aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="@(Model.CurrentPage == Model.TotalPages ? "disabled" : string.Empty)">
            <a asp-route-page="@Model.NextPage"
               aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
}
