@model LogListingsViewModel

@{
    ViewData["Title"] = "Logs";
}

<div class="container">
    <div class="row">
        <div class="col col-md-10 mr-auto ml-auto">
            <div class="text-center">
                <h1 class="display-3">@ViewData["Title"]</h1>
            </div>
            <br />
            <hr />
            <br />
            <ul class="list-group">
                @foreach (var log in Model.Logs)
                {
                    @if (log.Type == LogType.AddToRole || log.Type == LogType.CreateArticle || log.Type == LogType.AddNewSubtitles)
                    {
                        <li class="list-group-item list-group-item-success">@log</li>
                    }
                    @if (log.Type == LogType.EditArticle || log.Type == LogType.EditSubtitles)
                    {
                        <li class="list-group-item list-group-item-warning">@log</li>
                    }
                    @if (log.Type == LogType.RemoveFromRole || log.Type == LogType.DeleteArticle || log.Type == LogType.DeleteSubtitles)
                    {
                        <li class="list-group-item list-group-item-danger">@log</li>
                    }
                }
            </ul>
            <br />
            @if (Model.TotalLogs > Model.Logs.Count())
            {
                <ul class="pagination">
                    <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : string.Empty)">
                        <a class="page-link" asp-route-page="@Model.PreviousPage"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        @if (Model.CurrentPage == i)
                        {
                            <li class="page-item active">
                                <a class="page-link" asp-route-page="@i">@i</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" asp-route-page="@i">@i</a>
                            </li>
                        }
                    }

                    <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : string.Empty)">
                        <a class="page-link" asp-route-page="@Model.NextPage"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            }
        </div>
    </div>
</div>
