@model BlogArticleDetailsServiceModel

@{
    ViewData["Title"] = Model.Title;
}

<h1 class="text-center" style="padding:30px">@ViewData["Title"]</h1>

<h4 class="text-center"><em>published by @Model.Author on @Model.PublishDate.ToShortDateString()</em></h4>

<hr />

<div style="padding:30px">
    @Html.Raw(Model.Content)
</div>

@if (User.Identity.Name == Model.Author || User.IsInRole("Admin"))
{
    <div class="text-center">
        <a asp-action="Edit" asp-route-id="@Model.Id" asp-route-title="@Model.Title.ToFriendlyUrl()" class="btn btn-warning">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" asp-route-title="@Model.Title.ToFriendlyUrl()" class="btn btn-danger">Delete</a>
    </div>
}
