@model ArticleListingViewModel

@{
    ViewData["Title"] = "Blog Articles";
}

<h1 class="text-center" style="padding:30px">@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col col-md-10 mr-auto ml-auto">
            <ul class="article-list">
                @foreach (var article in Model.Articles)
                {
                    <li class="list-group-item">
                        <div class="text-center" style="font-size:26px;margin-bottom:15px"><a asp-action="Details" asp-route-id="@article.Id" asp-route-title="@article.Title.ToFriendlyUrl()">@article.Title</a></div>
                        <div class="text-right"><small>published by @article.Author on @article.PublishDate.ToShortDateString()</small></div>
                    </li>
                }
            </ul>
            <br />
            @if (Model.TotalArticles > Model.Articles.Count())
            {
                <ul class="pagination">
                    <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : string.Empty)">
                        <a class="page-link" asp-route-page="@Model.PreviousPage"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        @if (Model.CurrentPage == i)
                        {
                            <li class="page-item active">
                                <a class="page-link" asp-route-page="@i">@i</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" asp-route-page="@i">@i</a>
                            </li>
                        }
                    }

                    <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : string.Empty)">
                        <a class="page-link" asp-route-page="@Model.NextPage"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            }

        </div>
    </div>
</div>
